module my-traefik 1.1;

require {
	type container_t;
	type container_runtime_t;
	class unix_stream_socket connectto;
}

allow container_t container_runtime_t:unix_stream_socket connectto;

