[Unit]
Description=ntfy notification service - Self-hosted

[Container]
Image=docker.io/binwiederhier/ntfy:latest
ContainerName=ntfy
Exec=serve
PublishPort=7899:80
Environment=TZ=UTC+7
Environment=NTFY_BASE_URL="https://ntfy.nduc.io.vn"
Environment=NTFY_BEHIND_PROXY="true"
Environment=NTFY_AUTH_DEFAULT_ACCESS="deny-all"
Environment=NTFY_ENABLE_LOGIN="true"
Environment=NTFY_REQUIRE_LOGIN="true"
Environment=NTFY_DATABASE_URL="postgres://%db_user%:%db_pass%@host.containers.internal:5432/ntfy"
Environment=NTFY_AUTH_USERS='ntfyadmin:$2b$10$ZarSWLiWyexdAXIA39mCbOMQiEsO55lQCgs3XMMElZiSjpKZPDEvO:admin,ntfyuser:$2b$10$fabpPagM3QRelU5jQ9yl4OMXGXVKgqyIU84pcVJdDDQhxNN74XFwy:user'

Volume=%service_data_dir%/:/var/cache/ntfy:Z

[Service]
Restart=always

[Install]
WantedBy=default.target