tls:
  certificates:
    - certFile: /mycerts/wildcard.hs.lan/hs-end-entity-ecdsa.pem.crt
      keyFile:  /mycerts/wildcard.hs.lan/hs-end-entity-ecdsa.pem.key
    - certFile: /mycerts/dns.lan/hs-end-entity-ecdsa.pem.crt
      keyFile:  /mycerts/dns.lan/hs-end-entity-ecdsa.pem.key
    - certFile: /mycerts/ont.lan/hs-end-entity-ecdsa.pem.crt
      keyFile:  /mycerts/ont.lan/hs-end-entity-ecdsa.pem.key

  options:
      dot-options:
        alpnProtocols:
          - "dot"
http:
  serversTransports:
    skip-tls:
      insecureSkipVerify: true

  # system or external services
  routers:
    ont:
      rule: "Host(`ont.lan`)"
      service: ont
      entryPoints:
        - websecure
      tls: {}

    filebrowser:
      rule: "Host(`file.$PRIVATE_DOMAIN`)"
      service: filebrowser
      entryPoints:
        - websecure
      tls: {}

    cockpit:
      rule: "Host(`cockpit.$PRIVATE_DOMAIN`)"
      service: cockpit
      entryPoints:
        - websecure
      tls: {}

    # containerized services
    forgejo:
      rule: "Host(`forgejo.$PRIVATE_DOMAIN`)"
      service: forgejo
      entryPoints:
        - websecure
      tls: {}
      priority: 1

    ha:
      rule: "Host(`ha.$PRIVATE_DOMAIN`)"
      service: ha
      entryPoints:
        - websecure
      tls: {}
      priority: 1

    dns-le:
      rule: "Host(`dns.$PUBLIC_DOMAIN`)"
      service: dns-le
      entryPoints:
        - websecure
      tls:
        certResolver: leresolver

  services:
    ont:
      loadBalancer:
        serversTransport: skip-tls
        servers:
          - url: "https://192.168.1.1/"

    filebrowser:
      loadBalancer:
        servers:
          - url: "http://host.containers.internal:9000/"

    cockpit:
      loadBalancer:
        serversTransport: skip-tls
        servers:
          - url: "https://host.containers.internal:9090/"

    forgejo:
      loadBalancer:
        servers:
          - url: "http://host.containers.internal:3000/"

    ha:
      loadBalancer:
        servers:
          - url: "http://host.containers.internal:8123/"

    dns-le:
      loadBalancer:
        servers:
          - url: "http://adguard-home:80/"

tcp:
  routers:
    dns-le-dot:
      rule: "HostSNI(`dns.$PUBLIC_DOMAIN`)"
      entryPoints:
        - dns-over-tls
      service: dns-le-dot
      tls:
        certResolver: leresolver
        options: "dot-options"
  services:
    dns-le-dot:
      loadBalancer:
        servers:
          - address: "adguard-home:53"