[Unit]
Description=AdGuard Home DNS Server

[Container]
Image=docker.io/adguard/adguardhome:latest
ContainerName=adguard-home
AutoUpdate=registry
Volume=%service_dir%/work:/opt/adguardhome/work:Z
Volume=%service_dir%/conf:/opt/adguardhome/conf:Z
Volume=/etc/localtime:/etc/localtime:ro
PublishPort=8686:80/tcp
PublishPort=%host_ipv4%:53:53/tcp
PublishPort=%host_ipv4%:53:53/udp
PublishPort=%host_ula_ipv6%:53:53/tcp
PublishPort=%host_ula_ipv6%:53:53/udp
%EXTRA_PORT_PLACEHOLDER%

Network=traefik.network
Label=traefik.enable=true
Label=traefik.http.routers.dns.rule=Host(`dns.lan`)
Label=traefik.http.routers.dns.service=dns-svc
Label=traefik.http.services.dns-svc.loadbalancer.server.port=80

[Service]
Restart=always
CPUWeight=300

[Install]
WantedBy=default.target
