[Unit]
Description=Description here; this is a very basic sample Quadlet file

[Container]
Image=forgejo.hs.lan/nduc/bgm-player-pwa:latest
AutoUpdate=registry
ContainerName=bgm-player-pwa
PublishPort=127.0.0.1:13366:80/tcp

[Service]
Restart=always

[Install]
WantedBy=default.target
