[Unit]
Description=PsiTransfer File Sharing (public version)

[Container]
Image=docker.io/psitrax/psitransfer:latest
PublishPort=18383:3000/tcp
Environment=PSITRANSFER_DEFAULT_RETENTION=3600
Environment=NODE_ENV=production
Environment=PSITRANSFER_RETENTIONS='{"3600":"1 Hour"}'
Environment=PSITRANSFER_MAX_FILE_SIZE=1073741824 # 1gb
Environment=PSITRANSFER_MAX_BUCKET_SIZE=21474836480 # 20gb
Volume=%script_dir%/data:/data:Z,U

[Service]
Restart=always

[Install]
WantedBy=default.target
