[Unit]
Description=Description here; this is a very basic sample Quadlet file

[Container]
Image=registry.example/user/container:tag # docker shortcut: docker.io/library/<image>:tag, docker.io/<user>/<image>:tag
ContainerName=container-name
PublishPort=<host_port>:<container_port>/tcp
PublishPort=<host_port>:<container_port>/udp
PublishPort=<host_port>:<container_port>
Environment=KEY=val
Volume=/path/in/host:/path/in/container:Z # :Z for SELinux
Volume=/path/in/host:/path/in/container:ro # :ro for read-only
Volume=/etc/localtime:/etc/localtime:ro
DNS=192.168.x.y

[Service]
Restart=always
# more systemd options can be used here, e.g. CPUQuota, MemoryLimit, CPUWeight, etc.

[Install]
WantedBy=default.target # rootless
# WantedBy=multi-user.target # system-wide
