[Unit]
Description=rustfs-s3

[Container]
Image=docker.io/rustfs/rustfs:latest
ContainerName=storage
Volume=%service_data_dir%/data:/data:Z
Volume=%service_data_dir%/logs:/logs:Z
Volume=/etc/localtime:/etc/localtime:ro
Environment=RUSTFS_ACCESS_KEY=rustfsadmin
Environment=RUSTFS_SECRET_KEY=rustfsadmin
Environment=RUSTFS_CONSOLE_ENABLE=true
Environment=RUSTFS_SERVER_DOMAINS=storage.hs.lan

Network=traefik.network
Label=traefik.enable=true
Label=traefik.http.routers.storage-router.rule=Host(`storage.hs.lan`)
Label=traefik.http.routers.storage-router.service=storage-svc
Label=traefik.http.services.storage-svc.loadbalancer.server.port=9000
Label=traefik.http.routers.rustfs-router.rule=Host(`rustfs.hs.lan`)
Label=traefik.http.routers.rustfs-router.service=rustfs-svc
Label=traefik.http.services.rustfs-svc.loadbalancer.server.port=9001

[Service]
Restart=always

[Install]
WantedBy=default.target
